@import "variables";
@mixin input($width: 100%) {
    width: $width;
    height: 35px;
    padding: 5px 15px;
    border-radius: 8px;
    background-color: $white;
    color: $mainGray;
    font-size: 1rem;
    box-shadow: $boxShadow;
}
@mixin button() {
    padding: 5px 20px;
    border-radius: 10px;
    background-color: $darkGray;
    color: $mainGray;
    font-size: 1.4rem
};