$yellow: #f2b82e;
$lighGreen: #1be2b1;
$blue: #3f47f4;
$cyan: #14d3e2;
$white: #fff;
$black: #494a52;
$lightGray: #f4f5fa;
$mainGray: #7f7e86;
$darkGray: #d6d6d6;
$green: #07bc0c;
$red: #e74c3c;
$boxShadow: #0000001a 0px 4px 12px;
$headerHeight: 150px;
$notificationWidth: 315px;
$notificationStartTranslateX: 100%;
$notificationMiddleTranslateX: -90px;
$notificationFinalTranslateX: -75px;