@import "variables";
$sidebarBottom: 80px;
.container {
    display: block;
    position: relative;
    bottom: $sidebarBottom;
    width: 250px;
    min-height: calc(100vh - $headerHeight);
    padding: 30px;
    border-top-right-radius: 20px;
    background-color: $white; 
}
.container::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: $sidebarBottom;
    background-color: $white;
    transform: translateY(100%);
}
.title {
    margin-bottom: 40px;
    color: $black;
    font: {
        size: 1.3rem;
        weight: bold;
    }
}